arithmetics
bitwise
comparison
memory
stack
comments
argv
if-else
if-else-less
while
here
memory-forth-style
cstr
empty
while-procs
intrinsics
if-orelse
consts
2swap
try-parse-int
streq
memcpy
fputd
offset-reset
str-chop-by-delim
procs
max
memset
envp
local-memory-overshadowing
backslash-in-strlit
memset-bug
execvp-bug
quote-in-charlit
shell-escape
dirname
str-rfind
remove-ext
polymorphism
dos-newlines
segfault
nested-let
let-bindings-local-mem-corruption
emod
child-terminated
peek
str-starts-with
str-chop-by-delim-2
inline-if
inline-while
inline-memory
normpath
const-offset-underflow
else-not-inside-if-error
end-cant-close-error
if-else-fail
if-else-less-fail
include-file-not-found-error
intrinsic-redefinition-error
let-binding-loc-diag
memory-definition-stack-underflow
memory-definition-unsupported-keyword
memory-not-int
memory-redefinition
memory-redefinition-of-intrinsic
memory-redefinition-of-proc
memory-single-number
memory-unsupported-token-type
memory-unsupported-word
multi-byte-character-literal-error
no-include-file-error
no-proc-name-error
not-enough-args-for-do
original-proc-def-error
proc-inside-of-proc
proc-redefinition-error
recursive-const
self-including-file
unclosed-block-error
unclosed-character-literal-error
unclosed-string-literal-error
unknown-word-error
weird-week
while-alter
while-fail
wrong-include-path-type-error
proc-definition-token-type
unfinished-escape
unknown-escape
call-like-wrong-token
call-like-non-existing-proc
addr-of-wrong-token